.LoginModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure the modal is on top of other content */
}

.LoginModal-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center; /* Center the content */
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left; /* Align labels to the left */
}

.LoginModal-content h2 {
    margin-bottom: 20px;
    color: #333;
}

.LoginModal-content form {
    display: flex;
    flex-direction: column;
}

.LoginModal-content label {
    margin-bottom: 10px;
    color: #555;
}

.LoginModal-content input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.LoginModal-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.LoginModal-content button:hover {
    background-color: #0056b3;
}

.LoginModal-content .error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 10px;
}

.login-link {
    text-decoration: underline; 
    color: #007bff; 
    cursor: pointer; 
}

.login-link:hover {
    color: #0056b3; 
}