thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.table tr:hover {
  background-color: transparent !important;
}

.table .highlight-row {
  background-color: lightblue !important;
  transition: background-color 1s ease;
}

.table-info {
  background-color: #ADD8E6 !important;
  /* Light blue color */
}

.filterWrapper {
  margin-left: 20px;
}

.filterUl {
  list-style-type: none;
  padding: 0;
}

.filterIl {
  margin: 2px 0;
}

.filterIl a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.filterIl a:hover {
  background-color: lightgray;
}

.filterIl a.active {
  background-color: gray;
  color: white;
}

body, html {
  overflow: hidden;
}

@media (max-height: 600px) {
  .project-table-container {
    max-height: 400px;
  }
}

@media (min-height: 601px) and (max-height: 800px) {
  .project-table-container {
    max-height: 500px;
  }
}

@media (min-height: 801px) and (max-height: 1000px) {
  .project-table-container {
    max-height: 600px;
  }
}

@media (min-height: 1001px) and (max-height: 1200px) {
  .project-table-container {
    max-height: 700px;
  }
}

@media (min-height: 1201px) and (max-height: 1400px) {
  .project-table-container {
    max-height: 800px;
  }
}

@media (min-height: 1401px) {
  .project-table-container {
    max-height: 900px;
  }
}
