/* .project-table-container {
  max-width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  margin-bottom: 20px;
  height: 100%;
  border: 1px solid #ddd;
}  */

.project-table-container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  height: 100%;
}

table tbody tr.table-info {
  border-top: 1px solid #a6c3ca !important;
}

.table thead th {
  background-color: #e2e3e5; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
} 

tbody {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
}  


.table tbody tr {
  border-top: none !important;
}


.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
  width: 40%; 
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
  width: 11%;
}

.table thead th:nth-child(3),
.table tbody td:nth-child(3) {
  width: 12%;
}

.table thead th:nth-child(4),
.table tbody td:nth-child(4) {
  width: 19%;
}

.table thead th:nth-child(5),
.table tbody td:nth-child(5) {
  width: 12%;
}

.table thead th:nth-child(6),
.table tbody td:nth-child(6) {
  width: 5%;
} 

.filterWrapper {
  margin-left: 20px;
}

.filterUl {
  list-style-type: none;
  padding: 0;
}

.filterIl {
  margin: 2px 0;
}

.filterIl a {
  display: flex;
  align-items: center; 
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%; 
}

.filterIl a .icon {
  width: 20px; 
  margin-right: 2px; 
}

.filterIl a .text {
  flex-grow: 1;
}


.filterIl a:hover {
  background-color: lightgray;
}

.filterIl a.active {
  background-color: gray;
  color: white;
}

body, html {
  overflow: hidden;
} 

@media (max-height: 600px) {
  .project-table-container {
    max-height: 400px;
  }
  tbody {
    max-height: 357px;
  }
}

@media (min-height: 601px) and (max-height: 800px) {
  .project-table-container {
    max-height: 500px;
  }
  tbody {
    max-height: 457px;
  }
}

@media (min-height: 801px) and (max-height: 1000px) {
  .project-table-container {
    max-height: 600px;
  }
  tbody {
    max-height: 557px;
  }
}

@media (min-height: 1001px) and (max-height: 1200px) {
  .project-table-container {
    max-height: 700px;
  }
  tbody {
    max-height: 657px;
  }
}

@media (min-height: 1201px) and (max-height: 1400px) {
  .project-table-container {
    max-height: 800px;
  }
  tbody {
    max-height: 757px;
  }
}

@media (min-height: 1401px) {
  .project-table-container {
    max-height: 900px;
  }
  tbody {
    max-height: 857px;
  }
}

.project-description-box {
  margin-top: 5px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  cursor: pointer;
  white-space: pre-wrap;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: flex-start;
}