/* .project-table-container {
  max-width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  margin-bottom: 20px;
  height: 100%;
  border: 1px solid #ddd;
}  */

.project-table-container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  height: 100%;
  border: 1px solid #ddd;
}

.table thead th {
  background-color: #e2e3e5; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
}

.filterWrapper {
  margin-left: 20px;
}

.filterUl {
  list-style-type: none;
  padding: 0;
}

.filterIl {
  margin: 2px 0;
}

.filterIl a {
  display: flex;
  align-items: center; 
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%; 
}

.filterIl a .icon {
  width: 20px; 
  margin-right: 2px; 
}

.filterIl a .text {
  flex-grow: 1;
}


.filterIl a:hover {
  background-color: lightgray;
}

.filterIl a.active {
  background-color: gray;
  color: white;
}

body, html {
  overflow: hidden;
} 

@media (max-height: 600px) {
  .project-table-container {
    max-height: 400px;
  }
  tbody {
    max-height: 357px;
  }
}

@media (min-height: 601px) and (max-height: 800px) {
  .project-table-container {
    max-height: 500px;
  }
  tbody {
    max-height: 457px;
  }
}

@media (min-height: 801px) and (max-height: 1000px) {
  .project-table-container {
    max-height: 600px;
  }
  tbody {
    max-height: 557px;
  }
}

@media (min-height: 1001px) and (max-height: 1200px) {
  .project-table-container {
    max-height: 700px;
  }
  tbody {
    max-height: 657px;
  }
}

@media (min-height: 1201px) and (max-height: 1400px) {
  .project-table-container {
    max-height: 800px;
  }
  tbody {
    max-height: 757px;
  }
}

@media (min-height: 1401px) {
  .project-table-container {
    max-height: 900px;
  }
  tbody {
    max-height: 857px;
  }
}

.project-description {
  font-size: 0.85em; /* Smaller font size */
  color: #555; /* Optional: Change color for better visibility */
  margin-left: 10px; /* Space between project name and description */
  white-space: normal; /* Allow text to wrap */
  max-width: 200px; /* Set a maximum width for the description */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  display: block; /* Ensure it behaves as a block element */
}

